.button-group button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.button-group .prev {
  background-color: #FFFFFF;
  color: #000000;
}

.button-group .prev:hover {
  border: 1px solid #000000;
}

.button-group .next {
  background-color: #F67599;
  color: #FFFFFF;
}

.button-group .next:hover {
  border: 1px solid #F67599;
}

.button-group .button-hidden {
  visibility: hidden;
}

.button-group img {
  width: 20px;
  height: 10px;
  margin: 0 5px;
}