.step-hidden {
  position: absolute;
  visibility: hidden;
}

.form-title {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #2A2A2A;
}

.input-label {
  text-align: start;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  margin: 8px 0px;
}

input,
select {
  width: 100%;
  height: 40px;
  padding: 12px 16px;

  border: 1px solid #4A4A4A;
  border-radius: 4px;
  background-color: transparent;

  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

input {
  color: #999999;
}

select {
  color: #2A2A2A;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.col-12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: space-between;
  align-content: flex-start;
  max-width: 100%
}

.input-w-sm-s1 {
  width: 32%
}

.input-w-sm-s2 {
  width: 48%
}

.input-w-sm-s3 {
  width: 62%
}

.input-w-sm-full {
  width: 100%
}

@media (min-width: 768px) {
  .input-w-lg-1 {
    width: 16%
  }

  .input-w-lg-2 {
    width: 32%
  }

  .input-w-lg-3 {
    width: 48%
  }

  .input-w-lg-4 {
    width: 64%
  }

  .input-w-lg-5 {
    width: 80%
  }

  .input-w-lg-6 {
    width: 100%
  }
}

/* step2 */
.step2 .radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  margin: 0px 0px 15px;
  border: 1px solid #2A2A2A;
  border-radius: 4px;
}

.step2 input {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.step2 .radio-info {
  flex-grow: 1;
  margin-left: 5px;
}

.step2 .radio-info .text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.step2 .radio-info .price {
  margin-right: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}

.step2 .radio-info .period {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
